#container .form-list .radio-btn{
    display: flex;
    flex-direction: column;
  }
  #container .form-list {
    padding: 100px 0 0;
  }
  #container .form-list h4{
    font-size: 32px;
    color: #fff;
    margin-bottom: 15px;
  }#container .form-list .radio-btn input{
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    /* margin-right: 20px; */
    margin: 10px 10px 10px 0px;
    
  }
  #container .form-list .radio-btn label{
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #fff;
  }
  @media(max-width:768px)
  {
    #container .inner-semi-right {
      width: 100%;
      height: 50vh;
    }
    #container .inner-semi-right .form-list{
      display: none;
    }
  
  }
  