* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

#container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
#container .inner-semi-left {
  width: 50%;
  height: auto;
  padding: 100px 90px;
  overflow-y: scroll;
}
#container .contact-title i{
  font-size: 25px;
  display: none;
}
#container .contact-title h2 {
  font-size: 70px;
}
#container .contact-title p {
  font-size: 16px;
  color: grey;
  font-weight: 800;
}
#container .offc-address{
    padding: 100px 0 4px;
}
#container .offc-address h4{
    padding: 20px 0;
    font-size: 30px;
}
#container .offc-address p{
    line-height: 24px;
    font-size: 18px;
}
@media(max-width:500px){
  #container .inner-semi-left{
    padding: 20px !important;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    
  }
  
  .inner-semi-left .contact-title h2{
    font-size: 30px !important
  }
}
@media (max-width: 768px) {
  #container {
    flex-direction: column;
  }
  #container .inner-semi-left {
    width: 100%;
    overflow-y: hidden;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    padding: 20px 41px !important
  }
  #container .inner-semi-left h2 {
    font-size: 42px;
  }
  #container .inner-semi-right {
    width: 100%;
    height: 50vh;
  }
  #container .offc-address{
    padding: 0 !important;
  }

#container .offc-address h4 {
    padding: 11px 0;
    font-size: 24px;
}

}

@media (max-width: 1024px) {
  #container .inner-semi-left {
    padding: 45px 60px;
  }
  #container .inner-semi-left h2 {
    font-size: 56px;
  }
}
/* right side css */

#container .inner-semi-right {
  background: #58c7ff;
  width: 50%;
  height: auto;
  /* display: none; */
}

#container .inner-semi-right{
  padding: 100px 90px;
}
#container .inner-form-heading h2{
  font-size: 70px;
  color: #fff;
  margin-bottom: 10px;
  font-weight: bold;
}
#container .inner-form-heading p{
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-weight: bold;
}
#container .inner-form-heading a{
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: underline;
}
#container .inner-form-heading i{
  font-size: 13px;
  padding: 0px 4px;

}
#container .inner-form-heading .effect:hover{
  background: rgba(255,255,255,.5);
  transform: translate3d(0,0,0);
  transition: all .4s;
  padding: 7px;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
}
